<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Tracking system config</comment>
<entry key="tracking">disabled</entry>
<entry key="remote-service">disabled</entry>
<entry key="local-dump">disabled</entry>
<entry key="snapshots-capture">disabled</entry>
<entry key="interaction-log">disabled</entry>
<entry key="controller-class"></entry>
<entry key="snapshots-sample-freq">0</entry>
<entry key="snapshots-send-freq">0</entry>
<entry key="interaction-log-dump-freq">0</entry>
<entry key="interaction-log-send-freq">0</entry>
<entry key="interaction-log-ll-sample-freq">0</entry>
<entry key="effect-verbosity">disabled</entry>
</properties>